@model IEnumerable<RatingItem>


@{
    ViewData["Title"] = "Ratings";
}

<h1>Ratings</h1>


<p>
    @Html.ActionLink("Rate A Restaurant", "Create")
</p>


<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th></th>
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            <td>
                    <strong>@item.RestaurantName</strong>
            </td>
            <td>
                <strong>@item.Score</strong>
            </td>
            <td> 
                <a asp-action="RatingsByRestaurant" asp-route-id="@item.Id" class=" mx-2 btn btn-outline-primary"> Get Ratings by Restaurant</a>
               
            </td>
        </tr>
    }
</table>